<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	

 <system.web>

   <globalization uiCulture="en-GB" culture="en-GB" />
   
		
  <customErrors mode="Off"></customErrors>
		<httpRuntime requestValidationMode="2.0"/>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></assemblies></compilation>
		<pages validateRequest="false">
   <controls>
    <add tagPrefix="asp" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" />
   
   </controls>
  </pages>
	</system.web>

  
  
	<connectionStrings>
		<add name="ITS" connectionString="Data Source=DESKTOP-T4QBL8F\SQLEXPRESSADV;Initial Catalog=IssueTrackingSystem;User ID=Suresh;Password=Heartking"/>
	</connectionStrings>
</configuration>
